* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.header .title {
  font-size: 60px;
  font-weight: 800;
  color: #000;
  text-transform: uppercase;
}

.header .icon-search {
  font-size: 22px;
}

.header .icon-menu {
  font-size: 22px;
}

.content-left .item-top h1:nth-child(1) {
  color: #FF5B79;
  font-weight: 800;
  font-size: 46px;
}

.content-left .item-top h1:nth-child(2) {
  font-size: 64px;
  font-weight: 500;
  letter-spacing: 0.08rem;
  margin-top: -30px;
}

.content-left .item-top p {
  color: #828282;
  font-size: 13px;
  font-weight: 400;
}

.content-left .item-middle .size h3 {
  color: #000;
  font-size: 14px;
  font-weight: 800;
}

.content-left .item-middle .size .number {
  color: #828282;
  font-size: 14px;
  border-right: 1px solid #828282;
}

.content-left .item-middle .size .number span {
  padding-right: 15px;
}

.content-left .item-middle .size .number span:nth-child(3) {
  color: #000;
}

.content-left .item-middle .color h3 {
  color: #000;
  font-size: 14px;
  font-weight: 800;
}

.content-left .item-middle .color .bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-left .item-middle .color .bg div {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 15px;
}

.content-left .item-middle .color .bg div:nth-child(1) {
  background: #FF5B79;
}

.content-left .item-middle .color .bg div:nth-child(2) {
  background: #4BD4FF;
}

.content-left .item-middle .color .bg div:nth-child(3) {
  background: #FFDD2D;
}

.content-left .item-middle .color .bg div:nth-child(4) {
  background: #868686;
}

.content-left .item-bottom .addcard button {
  background: #FF5B79;
  width: 259px;
  height: 50px;
  border-radius: 68px;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  border: none;
}

.content-left .item-bottom .addcard button i {
  color: #fff;
  margin-right: 15px;
}

.content-right {
  position: relative;
}

.content-right .ellipes div:nth-child(1) {
  position: absolute;
  right: 40px;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: #4BD4FF;
  z-index: 1;
}

@media (max-width: 275px) {
  .content-right .ellipes div:nth-child(1) {
    max-width: 400px;
    max-height: 400px;
  }
}

.content-right .ellipes div:nth-child(2) {
  width: 200px;
  height: 200px;
  background: #FF5B79;
  border-radius: 50%;
  position: absolute;
  top: 111px;
  right: 50%;
}

.content-right .thumb {
  position: absolute;
  top: 30px;
  z-index: 10;
}

.content-right .thumb img {
  width: 100%;
  height: 100%;
}

.footer {
  margin-top: 50px;
}

.footer .wrapper h1 {
  font-size: 24px;
  font-weight: 800;
}

.footer .wrapper p {
  font-size: 14px;
  color: #4F4F4F;
}

.footer .wrapper::after {
  content: "";
  width: 30px;
  height: 1px;
}

.footer .btn {
  position: absolute;
  right: 55px;
}

.footer .btn .prev button {
  width: 170px;
  height: 55px;
  background: #FF5B79;
  color: #000;
  font-size: 30px;
  font-weight: 800;
  border: none;
}

.footer .btn .next button {
  width: 170px;
  height: 55px;
  background: #4BD4FF;
  color: #000;
  font-size: 30px;
  font-weight: 800;
  border: none;
}
/*# sourceMappingURL=style.css.map */